<!DOCTYPE html>
<html lang="en" data-ng-app="HealthyHomes">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Healthy Homes Inspector Application</title>

	<!-- Bootstrap -->
	<link href="js/lib/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
        
	<script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="js/lib/js/angular-touch.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script src="phonegap.js"></script>
	<script type="text/javascript" src="js/lib/camera.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="jquery.min.js"></script>    
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/lib/js/bootstrap.min.js"></script>
	<script src="checklist-model.js"></script>
	<link rel="stylesheet" href="js/lib/css/slidebars.min.css">
</head>
<body>
	<div class="container">
		<div class="row">   
			<form name = "cover_sheet" class="form-horizontal" novalidate>
				<fieldset>
					<legend align="center"><button class="btn-default toggle-left pull-left glyphicon glyphicon-align-justify"></button>
						<div class="sb-slidebar sb-left" align="center">
							<div class="list-group">
								<h2 align="center"> Main Menu</h2>
								<a  class="list-group-item list-group-item-danger" href="index.html"> Logout</a>
								<a  class="list-group-item" href="about.html"> About</a>
							</div>
						</div>
					CREDITS</legend><br>
					<p>
						<h3> TEAM AGILE AGENTS </h3><br><br>
						<ul>
							<li><h4>Amarteja Cherukuri</h4></li><br>
							<li><h4>Venkata Yeshes Meka</h4></li><br>
							<li><h4>Naveen Narang</h4></li><br>
							<li><h4>Madhuri Rangineni </h4></li><br>
							<li><h4>Jason Zoller</h4></li><br>
							<li><h4>Hui-Kee Wong</h4></li><br>
							<li><h4>Yash Jaradi</h4></li><br>
						</ul> 
					</p>					
				</fieldset>
			</div>
			<ul class="pager">
				<li><a href="confidential_info.html">Previous</a></li>
				<!-- <li><a data-ng-click="submit(cover_sheet)" class="btn btn-info">Next</a></li> -->
				<li><a data-ng-click="submit('general_neighbourhood_characteristics.html')" class="btn btn-info">Next</a></li>            
			</ul>
		</form>
	</div>
</div>      
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/lib/js/bootstrap.min.js"></script>
	<script src="js/lib/js/slidebars.min.js"></script>
	<script src="js/lib/js/sliding.js"></script>
</body>
</html>